name: Publish Pre-release

on:
  release:
    types: [prereleased]

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yml
    with:
      ref: ${{ github.event.release.tag_name }}

  upload-release-artifacts:
    name: Upload Release Artifacts
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v6

      - name: Download all artifacts
        uses: actions/download-artifact@v7

      - name: Upload artifacts to Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.event.release.tag_name }} thunderstore-build/*.zip nupkg-build/*/bin/Release/*.nupkg
